*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    background: #8c8c8c;
}
.container{
    margin: 0 auto;
    width: 1300px;
}
.bg-brown{
    background: #b49a77;
    position: relative;
}
.header-web{
    background: #b49a77;
    position: relative;
    max-height: 766px;
    display: block;
}
.menu-header {
    padding-top: 30px;
    display: flex;
    z-index: 9999;
    position: fixed;
    width: 76%;
}
.logo{
    margin-right: 33%;
}
.list{
    flex-grow: 1;
}
.list ul li{
    display: inline-block;
    margin-right: 31px;
}
.list a{
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
}
.icon-web ul li{
    display: inline-block;
    margin-right: 22px;
}
.image{
    position: relative;
    display: inline-block;
    left: 7%;
}
.best{
    position: absolute;
    top: 45%;
    left: 46%;
    font-size: 50px;
    color: #fff;
}
.slide{
    display: inline-block;
    margin-left: 160px;
    position: relative;
    bottom: 45px;
}
.slide-show img {
    width: 100%;
    height: 100%;
}
.text{
    position: absolute;
    bottom: 10%;
    right: -33%;
    color: #fff;
}
.bold{
    font-size: 50px;
    font-weight: bold;
}
.icon-click{
    position: absolute;
    right: -36%;
    bottom: 44%;
}
.icon-pre{
    background: url("../img/pre.png") no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
}
.icon-next{
    background: url("../img/next.png") no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.image-small{
    position: absolute;
    top: 16%;
    right: 0%;
}
.button{
    text-align: center;
}
.button ul li{
    display: inline-block;
    border: 1px solid #fff;
    width: 5%;
    height: 13px;
    border-radius: 100%;
    text-align: center;
}